<html>
<partial name="/Views/Shared/LayoutPartialViews/_HeadPartialView.cshtml" />
<body>

<partial name="/Views/Shared/LayoutPartialViews/_TopWrapPartialView.cshtml"/>
<partial name="/Views/Shared/LayoutPartialViews/_NavbarPartialView.cshtml" />
@RenderBody()
<partial name="/Views/Shared/LayoutPartialViews/_FooterPartialView.cshtml" />
<partial name="/Views/Shared/LayoutPartialViews/_ScriptPartialView.cshtml" />
</body>
</html>