<footer class="ftco-footer">
    <div class="container-xl">
        <div class="row mb-5 pb-5 justify-content-between">
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 logo d-flex">
                        <a class="navbar-brand align-items-center" asp-controller="Home"asp-action="Index">
                            <span class="">Ahrar <small>Gayrimenkul</small></span>
                        </a>
                    </h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Offers</h2>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Properties"asp-action="Index"><span class="fa fa-chevron-right mr-2"></span>Properties</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Agents</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Locations</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Clients Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Şirketimiz</h2>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Home" asp-action="Index"><span class="fa fa-chevron-right mr-2"></span>AnaSayfa</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Hakkımızda</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>İletişime Geçin</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Terms &amp; Conditions</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>User's Guide</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Support Center</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Press Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Sorunuz mu var?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">Sürsürü Mahallesi, Elazığ , Merkez</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text"><span class="__cf_email__" data-cfemail="5930373f361920362c2b3d3634383037773a3634">[email&#160;protected]</span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-darken">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">Copyright &copy;<script data-cfasync="false" src="~/oakberry-main/preview.colorlib.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank" rel="nofollow noopener">Colorlib</a>
                </div>
            </div>
        </div>
    </div>
</footer>