@model List<PropertyImage>
@{
    int delay = 100;
}
<section class="ftco-gallery">
    <div class="container-xl-fluid">
        <div class="row g-0">
            @foreach (var gl in Model)
            {
                <div class="col-md-2" data-aos="fade-up" data-aos-delay="@delay" data-aos-duration="1000">
                    <a href="@gl.ImageUrl" class="gallery-wrap img d-flex align-items-center justify-content-center glightbox" style="background-image: url(@gl.ImageUrl);">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-search"></span></div>
                    </a>
                </div>
                delay = delay + 100;
            }
        </div>
    </div>
</section>