<section class="ftco-section bg-light">
<div class="container-xl">
<div class="row justify-content-center mb-5">
<div class="col-md-7 heading-section text-center" data-aos="fade-up" data-aos-duration="1000">
<span class="subheading">Our Blog</span>
<h2>Recent Blog</h2>
</div>
</div>
<div class="row">
<div class="col-md-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image: url('/oakberry-main/preview.colorlib.com/theme/oakberry/images/image_1.jpg');">
</a>
<div class="text">
<p class="meta"><span>Admin</span> <span>Dec. 01, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">New Home Sales Picked Up in December</a></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image: url('/oakberry-main/preview.colorlib.com/theme/oakberry/images/image_2.jpg');">
</a>
<div class="text">
<p class="meta"><span>Admin</span> <span>Dec. 01, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">New Home Sales Picked Up in December</a></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image: url('/oakberry-main/preview.colorlib.com/theme/oakberry/images/image_3.jpg');">
</a>
<div class="text">
<p class="meta"><span>Admin</span> <span>Dec. 01, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">New Home Sales Picked Up in December</a mb-3></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image: url('/oakberry-main/preview.colorlib.com/theme/oakberry/images/image_4.jpg');">
</a>
<div class="text">
<p class="meta"><span>Admin</span> <span>Dec. 01, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">New Home Sales Picked Up in December</a mb-3></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
</div>
</div>
</section>