@{
    var aboutUsImage = ViewBag.AboutUsImage;
}

<section class="hero-wrap hero-wrap-2" style="background-image:url(@aboutUsImage)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("AboutUs")

