<section class="ftco-section ftco-agent ftco-no-pb">
    <div class="overlay"></div>
    <div class="container-xl">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section heading-section-white" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">Meets Our Agents</span>
                <h2 class="mb-4">Our Agents</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <div class="agent">
                    <div class="img">
                        <img src="~/oakberry-main/preview.colorlib.com/theme/oakberry/images/xteam-1.jpg.pagespeed.ic.XdGG32VxIm.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <p class="h-info"><span class="position">Listing</span> <span class="details">10 Properties</span></p>
                        <h3><a href="properties.html">Mike Bochs</a></h3>
                        <ul class="ftco-social">
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div class="agent">
                    <div class="img">
                        <img src="~/oakberry-main/preview.colorlib.com/theme/oakberry/images/xteam-2.jpg.pagespeed.ic.fXsip8GMni.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <p class="h-info"><span class="position">Listing</span> <span class="details">10 Properties</span></p>
                        <h3><a href="properties.html">Mike Bochs</a></h3>
                        <ul class="ftco-social">
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                <div class="agent">
                    <div class="img">
                        <img src="~/oakberry-main/preview.colorlib.com/theme/oakberry/images/xteam-3.jpg.pagespeed.ic.bI992H6H3o.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <p class="h-info"><span class="position">Listing</span> <span class="details">10 Properties</span></p>
                        <h3><a href="properties.html">Jessica Moore</a></h3>
                        <ul class="ftco-social">
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                <div class="agent">
                    <div class="img">
                        <img src="~/oakberry-main/preview.colorlib.com/theme/oakberry/images/xteam-4.jpg.pagespeed.ic.pE7NVMmqxW.jpg" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <p class="h-info"><span class="position">Listing</span> <span class="details">10 Properties</span></p>
                        <h3><a href="properties.html">Sarah Geronimo</a></h3>
                        <ul class="ftco-social">
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>